# Because I'm using PyCharm:
venv/
*.idea
__pycache__

# Why was this file added by my mac?
.DS_Store

# I don't want to use git to save the games that I've saved locally:
/save_and_load/saved_games/*.txt